html {
    font-family: Segoe UI;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.keybox {
    padding: 10px 15px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: white;
    font-size: 16px;
}

.key1 {
    width: 500px;
    height: 250px;
}

.key2 {
    width: 500px;
    height: 150px;
}

.close {
    width: 100%;
    height: 20px;
}

.close-button {
    font-size: 18px;
    float: right;
    cursor: pointer;
}

.key1title {
    font-size: 25px;
    text-align: center;
}

.show {
    visibility: visible;
}

.fail {
    background-color: red;
}

.success {
    background-color: #22f55a;
}

.fail-button {
    background-color: red;
}

.fail-button:hover {
    color: red;
}

.success-button {
    background-color: #22f55a;
}

.success-button:hover {
    color: #22f55a;
}

.home {
    width: 100px;
    text-align: center;
    padding: 20px 50px;
    margin: 50px auto;
    color: white;
    transition: 0.3s;
    font-size: 20px;
}

.home:hover {
    background-color: white;
    cursor: pointer;
}

.fail-title {
    color: white;
    font-size: 75px;
    text-align: center;
    margin: 45vh auto 10px;
}

.keytitle {
    padding: 0px 10px;
    width: 180px;
    margin: 10px auto;
    font-size: 12px;
    color: white;
    transition: 0.3s;
}

.keytitle:hover {
    color: black;
    cursor: pointer;
}

.keytitle p {
    display: inline-block;
    font-size: 20px;
}

.key {
    margin-left: 10px;
    display: inline-block;
    width: 25px;
}

body {
    font-size: 0px;
}

#man {
    display: block;
    margin: 30px auto 0px;
    width: 320px;
}

.letter {
    width: 50px;
    display: inline-block;
    padding: 20px 50px;
    font-size: 20px;
    margin: 0px 0px;
    text-align: center;
    transition: 0.3s;
}

.letter:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.letterclickedwrong {
    background-color: red;
    color: white;
    pointer-events: none;
}

.letterclickedright {
    background-color: #22f55a;
    color: white;
    pointer-events: none;
}

.letterbox {
    margin: 50px auto 0px;
    width: 80%;
}

.ans {
    margin: 30px auto 0px;
    width: 70%;
}

.unclicked p {
    visibility: hidden;
}

.clicked p {
    visibility: visible;
}

.letterans {
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 20px 30px;
    font-size: 35px;
    margin: 10px 10px;
    text-align: center;
}

.letterans p {
    margin: 0px;
}

.space {
    border-bottom: 0px;
}

.wrong {
    animation-duration: 0.2s, 0.2s;
    animation-name: wrong1, wrong2;
    animation-delay: 0s, 0.2s;
}

.correct { 
    animation-duration: 0.2s, 0.2s;
    animation-name: correct1, correct2;
    animation-delay: 0s, 0.2s;
}

@keyframes wrong1 {
    from { background-color: white; }
    to { background-color: red; }
}

@keyframes wrong2 {
    from { background-color: red; }
    to { background-color: white; }
}

@keyframes correct1 {
    from { background-color: white; }
    to { background-color: #22f55a; }
}

@keyframes correct2 {
    from { background-color: #22f55a; }
    to { background-color: white; }
}
